@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body {
    height: 80vh;
    background: linear-gradient(to left bottom, #72bdfd, #eff8ff);
}

.wrapper {
    margin: 30vh auto 0;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    background-color: #bde0fe;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.wrapper-header {
    align-self: center;
    margin-bottom: 6vh;
    color: #72bdfd;
}

.wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper-inp {
    display: flex;
    flex-direction: column;
}

.inp {
    margin-left: 1vw;
    width: 4rem
}